@charset "UTF-8";
.addBorder {
  border: 2px solid #a142f0;
}

#nav ul li {
  background-color: #fee44e;
  color: #43200c;
}

#main {
  /* 上部分 */
  /* 下部分 */
}

#main .content-top {
  width: 100%;
  height: 380px;
  position: relative;
}

#main .content-top .top-left {
  width: 282px;
  background: #fff;
}

#main .content-top .top-left .glass {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

#main .content-top .top-left .glass .moveRange {
  position: relative;
  margin-top: 10px;
}

#main .content-top .top-left .glass .moveRange .move {
  width: 150px;
  height: 150px;
  background-color: rgba(177, 108, 233, 0.5);
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  display: none;
}

#main .content-top .top-left .glass .moveRange .topPic {
  width: 282px;
  height: 282px;
  display: flex;
}

#main .content-top .top-left .glass .moveRange .topPic .dynamic {
  display: block;
}

#main .content-top .top-left .glass .moveRange .topPic li {
  display: none;
}

#main .content-top .top-left .glass .moveRange .topPic li img {
  width: 100%;
  height: 100%;
}

#main .content-top .top-left .glass ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

#main .content-top .top-left .glass ul li {
  width: 50px;
  height: 50px;
}

#main .content-top .top-left .glass ul li img {
  width: 50px;
  height: 50px;
}

#main .content-top .top-left .bigBox {
  z-index: 5;
  width: 358px;
  height: 358px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 302px;
}

#main .content-top .top-left .bigBox img {
  position: absolute;
  top: 0;
  left: 0;
}

#main .content-top .top-text {
  position: absolute;
  top: 0;
  left: 282px;
  width: 594px;
  height: 364px;
  background: #fff;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 80px;
}

#main .content-top .top-text .top-title {
  height: 72px;
  width: 530px;
}

#main .content-top .top-text .top-title .top-logo {
  display: inline-block;
  width: 24px;
  height: 24px;
}

#main .content-top .top-text .top-title .top-logo img {
  width: 100%;
  height: 100%;
}

#main .content-top .top-text .top-title :nth-child(2) {
  width: 42px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  border: 1px solid #c5c4c4;
  color: #a5a4a4;
  border-radius: 3px;
}

#main .content-top .top-text .top-title .detail-message {
  display: inline-block;
  font-size: 24px;
  line-height: 33px;
  color: #43240c;
}

#main .content-top .top-text .top-money {
  position: relative;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 10px;
  width: 530px;
  height: 87px;
  background-color: #f5f5f5;
  margin-bottom: 40px;
}

#main .content-top .top-text .top-money .original-price {
  font-size: 16px;
  font-weight: 400;
  color: #b1a9a5;
  line-height: 22px;
  text-decoration: line-through;
}

#main .content-top .top-text .top-money .ticket {
  margin-top: 10px;
  font-size: 20px;
  color: #ff4653;
  line-height: 28px;
}

#main .content-top .top-text .top-money .ticket :nth-child(1) {
  font-size: 40px;
  font-weight: 600;
  color: #fa585a;
  line-height: 28px;
}

#main .content-top .top-text .top-money .ticket :nth-child(2) {
  display: inline-block;
  height: 16px;
  background: #feeeee;
  border-radius: 2px;
  border: 1px solid #fa585a;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
  margin-bottom: 4px;
  margin-left: 10px;
  vertical-align: middle;
}

#main .content-top .top-text .top-money :nth-child(3) {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  color: #b1a9a5;
  line-height: 22px;
  vertical-align: middle;
  margin-top: 16px;
  margin-right: 27px;
}

#main .content-top .top-text .time {
  font-size: 14px;
  color: #fa585a;
  line-height: 20px;
  position: absolute;
  right: 35px;
}

#main .content-top .top-text button {
  cursor: pointer;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  margin-top: 18px;
  margin-bottom: 39px;
  display: block;
  background-color: #fa585a;
}

#main .content-top .top-text .join-cart {
  position: absolute;
  bottom: 0;
  left: 180px;
}

#main .content-top .top-text .buy {
  position: absolute;
  bottom: 0;
  right: 35px;
}

#main .content-top .top-shop {
  float: right;
  width: 275px;
  height: 352px;
  background: #fff;
  border: 1px solid #fee44e;
  text-align: center;
}

#main .content-top .top-shop .shop-content {
  display: block;
  line-height: 31.5px;
  width: 273px;
  height: 63px;
  margin: 1px 0;
  background: linear-gradient(180deg, #fee44e, #fff 85%, #fff);
}

#main .content-top .top-shop .shop-content .line {
  display: inline-block;
  width: 56px;
  height: 1px;
  opacity: .2;
  background: #43240c;
  vertical-align: middle;
}

#main .content-top .top-shop .shop-content .shop-msg {
  font-size: 14px;
  color: #43240c;
  vertical-align: middle;
}

#main .content-top .top-shop img {
  width: 150px;
  height: 150px;
  margin: 3px auto 0;
}

#main .content-top .top-shop .shop-name {
  font-size: 18px;
  color: #43240c;
  line-height: 25px;
  text-align: center;
}

#main .content-top .top-shop .shop-score {
  width: 168px;
  height: 44px;
  margin: 9px auto 17px;
}

#main .content-top .top-shop .shop-score ul {
  display: flex;
  justify-content: space-between;
}

#main .content-top .top-shop .shop-score ul li {
  flex: 1;
  text-align: center;
}

#main .content-top .top-shop .shop-score .charater {
  font-size: 14px;
  color: #b1a9a5;
  line-height: 20px;
}

#main .content-top .top-shop .shop-score .score {
  font-size: 14px;
  color: #fb9547;
  line-height: 20px;
}

#main .content-bottom {
  width: 1200px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

#main .content-bottom .shop-img {
  width: 880px;
}
